@model WebBanHang.Models.TINTUC

@{
    ViewBag.Title = "DeleteTT";
    Layout = "~/Areas/Area/Views/Shared/ViewQuanTri.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12" style="padding-left:40px; padding-top:40px">
            <div style="color:forestgreen; font-size:16px" class="alert alert-info"><i>Bạn nên xác nhận thông tin thật kỹ bài đăng trước khi xóa</i></div>
            <div class="products-details">
                <div class="col-md-4">
                    <div class="preview_image">
                        <div class="preview-small">
                            <div class="slideshow">
                                @foreach (var dd in Model.DSANH.Where(x => x.ID_TINTUC == Model.ID_TinTuc).ToList())
                                {
                                    <div><a href="#"><img src="~/IndexLayout/images/imagePhongNha/@dd.DUONGDAN" alt="" /></a></div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="products-description">
                    <h4 class="name"><label style="color:green; text-align:center"> @Model.TIEUDE  </label></h4>
                    <hr class="border">
                    <div class="price"> Giá phòng <span class="new_price"> @string.Format("{0:#,##0,000}", Model.GIATIEN) <sup> VNĐ </sup> </span> </div>
                    <hr class="border">
                    <div id="tabnav">
                        <ul>
                            <li> <a href="#Descraption">Nội dung </a> </li>
                        </ul>
                    </div>
                    <p>
                        Mã bài đăng: @Model.ID_TinTuc
                    </p>
                    <p>

                    <p> @Model.TIENICH</p>
                    <p>
                        @Html.Raw(Model.NOIDUNG)
                    </p>
                    <p> Tên người đăng: <span class="light-red text-info" style="color:darkmagenta; font-size:15px"> @Model.NGUOIDUNG.HOTENND </span> </p>
                    <p>
                        Email: <label style="color:dodgerblue; font-family:Tahoma; font-size:15px"> @Model.NGUOIDUNG.EMAIL </label><br /> <br />
                        Số điện thoại: <label style="color:orangered; font-family:Tahoma; font-size:15px"> @Model.NGUOIDUNG.SDT1  @Model.NGUOIDUNG.SDT2 </label><br>
                        <img src="~/IndexLayout/images/share.png" alt="" class="pull-right">
                </div>

            </div>
            <div class="clearfix " > </div>
            <div class="alert alert-danger">
                <h5 style="color:red" ><i>Nếu xóa tin tức này, hình ảnh của tin tức cũng sẽ bị xóa theo<br />Bạn có thực sự muốn xóa không ???</i></h5><br />
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-actions no-color">
                        <input type="submit" value="Xác nhận xóa" class="btn btn-danger" onclick="return confirm('Bạn có chắc muốn xóa tin tức, bài đăng này chứ??')" /> |
                        @Html.ActionLink("Trở về", "Index", null, new { @class = "btn btn-info" })
                    </div>
                }
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<script language="javascript">
    /***************************************************************************************
    * Run when page load
    ***************************************************************************************/
    $(document).ready(function () {
        initSlideShow();

    });
    /***************************************************************************************
    ****************************************************************************************/
    function initSlideShow() {
        if ($(".slideshow div").length > 1) //Only run slideshow if have the slideshow element and have more than one image.
        {
            var transationTime = 5000;//5000 mili seconds i.e 5 second
            $(".slideshow div:first").addClass('active'); //Make the first image become active i.e on the top of other images
            setInterval(slideChangeImage, transationTime); //set timer to run the slide show.
        }
    }
    /***************************************************************************************
    ****************************************************************************************/

    function slideChangeImage() {
        var active = $(".slideshow div.active"); //Get the current active element.
        if (active.length == 0) {
            active = $(".slideshow div:last"); //If do not see the active element is the last image.
        }

        var next = active.next().length ? active.next() : $(".slideshow div:first"); //get the next element to do the transition
        active.addClass('lastactive');
        next.css({ opacity: 0.0 }) //do the fade in fade out transition
            .addClass('active')
            .animate({ opacity: 1.0 }, 1500, function () {
                active.removeClass("active lastactive");
            });

    }

</script>