@model WebBanHang.Models.TINTUC

@{
    ViewBag.Title = "EditTT";
    Layout = "~/Areas/Area/Views/Shared/ViewQuanTri.cshtml";
}


<div class="container_fullwidth">
    <div class="container">
        <div class="alert alert-info"style="color:coral">
            <h5 >
                Sửa thông tin bài đăng
            </h5><br />
                Bạn nên xem thật kỹ bài đăng, trước khi sửa và cập nhật<br /><br />@Html.ActionLink("Trở về", "Index", null, new { @class = "btn btn-info", style = "text-align:right" })
            
        </div>
        <form action="/Area/QuanTri_ND/EditTT" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <label style="text-align:center"> @Html.ValidationSummary(true, "", new { @class = "text-danger" })</label>
            <div class="row">

                <div class="col-md-12">
                    <div class="checkout-page">
                        <ol class="checkout-steps">
                            <li class="steps active">
                                <a href="#" class="step-title" style="text-align:center; background-color:aquamarine; color:red"> Thông tin bài đăng </a>
                                <div class="step-description">
                                    <div class="row">
                                        <div class="col-md-10 col-sm-10">
                                            <table class="table your-details" style="border-spacing:10px 20px">
                                                <tr>
                                                    <td class="col-md-3"> Tiêu đề  <label style="color:red"> (*) </label></td>
                                                    <td class="col-md-8">
                                                        <input name="MaND" type="hidden" value="@Model.MAND" />
                                                        @Html.HiddenFor(x => x.NGAYDT)
                                                        @Html.HiddenFor(x => x.NGAYKT)
                                                        @Html.HiddenFor(x => x.ID_TinTuc)
                                                        @Html.HiddenFor(x => x.TRANGTHAI, new { @value = true })
                                                        @Html.EditorFor(model => model.TIEUDE, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.TIEUDE, "", new { @class = "text-danger" })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="col-md-3"> Nội dung <label style="color:red"> (*) </label></td>
                                                    <td class="col-md-8">
                                                        @Html.TextAreaFor(model => model.NOIDUNG, new { @id = "txtNoiDung" })
                                                        <script type="text/javascript">
                                                            CKEDITOR.replace("txtNoiDung")
                                                        </script>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td class="col-md-3"> Địa chỉ cho thuê <label style="color:red"> (*) </label></td>
                                                    <td class="col-md-8">
                                                        @Html.EditorFor(model => model.DIACHITT, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.DIACHITT, "", new { @class = "text-danger" })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="col-md-3"> Giá tiền <label style="color:red"> (*) </label></td>
                                                    <td class="col-md-8">
                                                        @Html.EditorFor(model => model.GIATIEN, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.GIATIEN, "", new { @class = "text-danger" })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="col-md-3"> Tiện ích, ghi chú <label style="color:red"> (*) </label></td>
                                                    <td class="col-md-8">
                                                        @Html.TextAreaFor(model => model.TIENICH, new { @cols = "5", style = "width:600px; height:200px" })

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="col-md-3"> Chọn huyện quận <label style="color:red"> (*) </label></td>
                                                    <td class="col-md-8">
                                                        @Html.DropDownList("MAHUYEN", null, htmlAttributes: new { @class = "form-control", style = "width:200px" })
                                                        @Html.ValidationMessageFor(model => model.MAHUYEN, "", new { @class = "text-danger" })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="col-md-3">  Loại tin tức <label style="color:red"> (*) </label></td>
                                                    <td class="col-md-8">
                                                        @Html.DropDownList("MALOAITT", null, htmlAttributes: new { @class = "form-control", style = "width:200px" })
                                                        @Html.ValidationMessageFor(model => model.MALOAITT, "", new { @class = "text-danger" })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td>
                                                        <input type="submit" value="Cập nhật" class="btn btn-success" onclick="return confirm('Bạn xác thực muốn cập nhật lại bài đăng này !!!');"/>   |   @Html.ActionLink("Trở về", "Index", null, new { @class = "btn btn-info", style = "text-align:right" })
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>

<script language="javascript">
    /***************************************************************************************
    * Run when page load
    ***************************************************************************************/
    $(document).ready(function () {
        initSlideShow();

    });
    /***************************************************************************************
    ****************************************************************************************/
    function initSlideShow() {
        if ($(".slideshow div").length > 1) //Only run slideshow if have the slideshow element and have more than one image.
        {
            var transationTime = 5000;//5000 mili seconds i.e 5 second
            $(".slideshow div:first").addClass('active'); //Make the first image become active i.e on the top of other images
            setInterval(slideChangeImage, transationTime); //set timer to run the slide show.
        }
    }
    /***************************************************************************************
    ****************************************************************************************/

    function slideChangeImage() {
        var active = $(".slideshow div.active"); //Get the current active element.
        if (active.length == 0) {
            active = $(".slideshow div:last"); //If do not see the active element is the last image.
        }

        var next = active.next().length ? active.next() : $(".slideshow div:first"); //get the next element to do the transition
        active.addClass('lastactive');
        next.css({ opacity: 0.0 }) //do the fade in fade out transition
            .addClass('active')
            .animate({ opacity: 1.0 }, 1500, function () {
                active.removeClass("active lastactive");
            });

    }

</script>

