@model WebBanHang.Models.NGUOIDUNG
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Area/Views/Shared/ViewQuanTri.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container container_fullwidth" style="text-align:center" >
        <div class="row" style="width:90%; padding-left:70px">
            <div class="products-details">
                <h5 style="color:forestgreen">Thông tin chi tiết người dùng @Model.HOTENND</h5><br />
                <div style="text-align:left">
                    @Html.ActionLink("Trở về", "Index", new { @class = "btn btn-default" })
                </div><br /><br />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.MAND)
                @Html.HiddenFor(model => model.LEVEL)
                <table class="table table-hover center-text">
                    <tr>
                        <td style="text-align:right">Email</td>
                        <td style="text-align:left">
                            @Html.EditorFor(model => model.EMAIL, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.EMAIL, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:right">Họ tên </td>
                        <td style="text-align:left">
                            @Html.EditorFor(model => model.HOTENND, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.HOTENND, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:right">Giới Tính</td>
                        <td style="text-align:left">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.GIOITINH) Nam (Nếu là nữ thì để trống)
                                @Html.ValidationMessageFor(model => model.GIOITINH, "", new { @class = "text-danger" })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:right">Số điện thoại 1</td>
                        <td style="text-align:left">
                            @Html.EditorFor(model => model.SDT1, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SDT1, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:right">Số điện thoại 2</td>
                        <td style="text-align:left">
                            @Html.EditorFor(model => model.SDT2, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SDT2, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td style="text-align:left">
                            <input type="submit" value="Cập nhật" class="btn btn-success" />
                            
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

}


